/* Global Styles

font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;

*/
html {
    height: 100%;
}
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: all 300ms ease-in-out;
    background: #2E323F;
    padding: 0;
    text-align: center;
    opacity: .95;
    
}
h1,h2 {
    margin: 0;
}
p {
    font-family: 'Montserrat', sans-serif;
}

span {
    color: #A59678;
}
.container {
    position: relative;
    max-width: 1200px;
    width: 80%;
    margin: 1.5em auto;
}

/* HAMBURGER */

.hamburger {
    width: 50%;
    position: relative;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #072A2D;
    color: white;
    transition: opacity 250ms ease;
    
    position: absolute;
    left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
    font-size: 1rem;    
}
.nav__list {
    padding: 0;
    margin: 0 auto;
}
.nav__item {
    list-style: none;
    padding: 0 0 1em;
}
.nav__link {
    color: white;
    text-decoration: none;
    list-style: none;
}
.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
    padding-top: 1em;
}
.nav__link--btn {
    padding: .25em 1em;
    background-color: #FFF;
    color: #A59678;
    border-radius: 100px;
}
.nav__link--btn:hover,
.nav__link--btn:focus {
   
    background-color: #A59678;
    color: #FFF
    
}
.logo {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #FFF;
    font-size: 1.25em;
    font-weight: 600;
}

/**********************
*  Scrolling feature  *
***********************/
.scroll-down header {
    transform: translate3d(0, -100%, 0);
}
.scroll-up header {
    filter: drop-shadow(0 5px 20px rgb(35, 66, 74));
}


.hero {
    padding: 100px 0;
    background-color: #3B4050;
    text-align: center;

}
.hero__text {
    font-size: 3.5rem;
    /* text-align: center; */
    color: #fff
}
.hero__text--p {
    color: #fff;
    /* text-align: center; */
}
.hero__text--tagline {
    margin-top: auto;
    text-align: center;
}
.hero__text--tagline p {
    /* text-align: start; */
    justify-content: flex-end;
}
.hero__btn {
    /* text-align: right; */
    display: inline-block;
    color: #fff;
    background-color: #A59678;
    padding: .25em 1em;
    border-radius: 100px;
    text-transform: uppercase; 
    text-decoration: none;
}


/*********************
*  Services Content  *
**********************/
.services {
    padding: 1em;
    background-color: rgb(253, 253, 241);
}
/* .services__card {
    padding: 1.5em auto;
} */

.services__card p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.services__item {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #A59678;
}

/*****************
*  Main Content  *
******************/

.main__item {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    color: #A59678;  
    text-align: center;  
}
.main__paragraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
}
.main__img {
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    border-radius: 10px;
}

/******************
*  Aside Content  *
*******************/
.aside {
    color: #FFF;
    /* margin: 1em; */
    

}
.aside__card {
    background-color: #3B4050;
    box-shadow: rgba(149, 157, 165, 0.7) 0px 8px 24px;
    border-radius: 10px;
}

.aside__item {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding-top: 1em;
}

.aside p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 1em;

}

/*******************
*  Footer Content  *
********************/
.footer {
    background-color: #072A2D;
    margin-top: 3em;
    padding: 100px auto;
    color: rgb(253, 253, 241);
}
.footer__content {
    margin-top: 1em auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.footer__title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    color: #FFF;
}
.footer-link-header{
    color: #A59678;
    padding-top: 1em;
    padding-bottom: 0;
    font-size: 21px;
}
.footer-link {
    text-decoration: none;
    color: rgb(253, 253, 241);
    margin: 0 .5em;
    font-size: 16px;
}
/* .footer-item-1,
.footer-item-2,
.footer-item-3,
.footer-item-4
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
} */
.footer__item:last-child {
    padding-bottom: 2em;
}
.footer-link:hover,
.footer-link:focus {
    opacity: .75;
} 


/******************
*  Media Queries  *
*******************/

@media (min-width: 700px) {
    .main {
        display: flex;
        justify-content: space-between;
    }
    .nav-toggle {
        display: none;
    }
    .row {
        display: flex;
        justify-content: space-between;
    }
    .nav {
        visibility: visible;
        display: flex;        
        height: auto;
        align-items: center;
        justify-content: flex-end;
        position: relative;
    }
    .nav__list {
        display: flex;
        margin: 0;
        
    }
    .nav__item {
        margin: 0;
        padding: 0 .5em;
        
    }
    .nav--visible {
        padding-top: 0;
        
    }
    .nav__list--primary {
        margin: 0 auto;
    }
    .hero__text {
        text-align: start;
        width: 42%;
    }
    .hero__text--tagline {
        width: 52%;
        text-align: start;
    }
    .services {
        text-align: center;
        
        /* padding: auto 4em; */
    }
    .services__card {
        padding: 2em 2em;
    }
    .services__card p {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 300;
    }
    .services__item {
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
        color: #A59678;
    }
    .main__content {
        display:block;
        width: 100%;
        text-align: left;
    }
    .main__item {
        text-align: left;
    }
    .aside {
        
        width: 30%;
        
    }
    .aside p {
        display: block;
        text-align: center;
    }
    .footer__item-1 {
        width: 40%;
        
    }
    .footer__item-2,
    .footer__item-3,
    .footer__item-4 {
        width: 18%;
  
    }
    .footer-link {
        display: block;
        padding-bottom: 10px;
        margin-left: 0;
    }
}
@media (min-width: 1000px) {
    .row {
        display: flex;
    }
    .main__content {
        width: 54%;
        text-align: left;
    }
    .main__item {
        text-align: left;
    }
    .aside {
        justify-content: flex-end;
        width: 30%;
        
    }
    .aside p {
        text-align: center;
    }
}